---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I am a dynamic and sociable young graduate, 
						driven by a genuine enthusiasm for digital computing. 
						My studies have specialized me in software development and database management. 
						I am determined to make my contribution to the digital computing sector by bringing creativity and innovation. 
						My education has thoroughly prepared me to succeed in my future professional career,
						 and I am ready to face the challenges that will come with seriousness and determination.
					</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Lycée Abi Choaib dokali - Casablanca.</p>
					<p>Centre de Formation Professionnelle Casablanca.</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Professional Experiences</h2>
				<div class="content">
					<p><strong>ID&A Tech</strong> - Full-Stack Developer Intern <br />
					Casablanca - Technopark <br />
					July 2024 - Present</p>
					<ul>
						<li>Developed the MecaTech application using the MERN stack.</li>
						<li>Built the Client Portal for booking appointments with mechanics, managing vehicle information, and tracking confirmations.</li>
						<li>Developed the Mechanic Portal for recording professional information, managing car brands, and handling appointments.</li>
						<li>Contributed to the microservices architecture and utilized Docker.</li>
						<li>updated the company website with WordPress.
							<br>
							<a href="https://idatech.ma/">Click to view</a>
						</li>
						<li>WordPress Experience (Client Project):
							"I developed a complete WordPress website for a client, handling:
							<br>
							- Requirements analysis to design a structure tailored to their business.
							<br>
							- Custom design creation using a WordPress theme and CSS adjustments.
							<br>
							- Feature integration, including interactive forms, an image gallery, and plugins.
							<br>
							- SEO and performance optimization for better visibility and faster loading.
							<br>
							Client training to ensure they could manage the site independently.</li>
							<a href="https://simplifius.com/">Click to view</a>

					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curious, Creative, Independent, Organized, Dynamic, Versatile, Team player</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
